@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  font-family: "Fira Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

p {
  text-align: center;
}

div {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.bottom-row {
  display: flex;
  gap: 10px;
}

.key {
  border: black solid 2px;
  width: 50px;
  height: 50px;
  transition: ease-out 0.1s;
  box-shadow: black 5px 5px;
}

.pressed {
  color: white;
  background-color: black;
  box-shadow: 0px 0px;
}
